### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle
build


src/User.class
src/UserRepository.class
src/WebSecurityConfig.class
src/application.properties
